   /* form */
   
   @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
	 .form{position:fixed;
	top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  display:flex;
  flex:1;
  overflow:visible;
  border-radius:12px;}
  
  .h2hd{position:absolute;
	top: 44%;
  left: 48%;
  margin-top: -42px;
  margin-left: -88px;
  color:DarkSlateBlue;
  font-size:25px;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  background:linear-gradient(to top, red, blue,black,orange, orange 60%, cyan);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-decoration:bold;}
  
  @media only screen  and (max-width:650px){
  .form{display:grid;
  position:absolute;
  top: 78%;
  left: 58%;
  margin-top: -40px;
  margin-left: -220px;}
  
  .h2hd{display:block;
  position:absolute;
  top: 72%;
  left: 58%;
  margin-top: -40px;
  margin-left: -220px;}} 
  
  .contact{border-radius:18px;
  box-shadow:0px 5px 8px 6px azure ;
  }
  
  legend{font-size:25px;
         font-family:'EB Garamond', serif;
		 padding:15px 18px;
		 text-decoration:bold;
		 }
		 
	input{border-radius:8px;
	      size:30px;
		  padding:10px 10px;
		  text-indent:4px;
		  background:Azure;}
		  
   .txt{size:50px;
   vertical-align:text-top;
    border-radius:8px;
	position:block;
	height:80px 50px;
	background:Azure;}
	
	label{font-size:20px;
	color:Maroon;}
	
	input[type=submit]{width: 100%;
         background-color: #4CAF50;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
        border-radius: 4px;
        cursor: pointer;
       }
	   
	   input[type=Reset]{width: 100%;
         background-color: DimGray;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
        border-radius: 4px;
        cursor: pointer;
       }
	   
	   input[type=submit]:hover{
  background-color: teal;
  text-transform:uppercase;

}
 input[type=Reset]:hover{
  background-color:LightCoral;
  text-transform:uppercase;
 }
 
tabel{ padding:10px 10px;
  border-style:collapse;
     }}

        