
.chemBooks{display:flex;
background:linear-gradient(rgb(64,224,208),rgb(176,196,222));
margin:15px 15px 15px 15px;
box-shadow: 10px 5px 10px 25px rgb(221,160,221,0.4) ;
flex-direction:column;

}
.chemBooks{background:linear-gradient(green,rgba(255,215,0,0.8));
	 font-family: 'Noto Serif', serif;
	 margin:25px 15px 15px 15px;
    overflow: visible;	 
	}
	#chem{padding:5px 5px 5px 5px;
	text-align:center;
	padding:5px 5px 5px 5px;
	font-family: 'Noto Serif', serif;
	text-decoration:bold;
	overflow: visible;}
/* table*/
#chem {width:100%;
border-collapse:1 ;
border:red;}
#chem  th{background:linear-gradient(brown,#FFB6C1);
border:0px ;
padding:10px 12px 10px 0px;
}
#chem  td{
padding:15px 12px 15px 8px;
}
#chem  th:hover{background:linear-gradient(red,#FFF5EE);
}

#chem  tr:nth-child(even){background:linear-gradient(to top,grey,orange,slategrey);
}
#chem  tr:nth-child(even):hover{background:linear-gradient(#00FA9A,snow);
color:navy;}
#chem  tr:nth-child(odd):hover{background:linear-gradient(rgb(255,69,0), 	#FFE4B5);
color:navy;}
#chem  tr:nth-child(odd){background:linear-gradient(to top,#F4A460,#FFF5EE);
}

#head{text-align:center;
text-align: justify;}