html,body{margin:0px;
 background:snow;
 animation-name:headerChange;
	 animation-duration:20s;
	 animation:headerChange 20s infinite;
	 transition:ease-in-out;
	 height:100%;}
 
/* header styling here*/
header{
	background:linear-gradient(to right,white,navy,red,#FFDC00,navy,snow);
	 size:50x;
	 padding:5px 0px 4px 0px;
	 font-size:60px;
	 color:white;
	 text-decoration:none;
text-shadow:3px 1px 1px black;	 
	 }
	header>a{text-decoration:none;}
@keyframes headerChange{
	0%{background:linear-gradient(snow,yellow);}
25%{background:linear-gradientred,yellow);}
50%{background:linear-gradient(salmon,palegreen);}
100%{background:linear-gradient(tomato,lemonchiffon);}}

.navigation>a:link,a:visited{
	color:navy;
	padding:8px 10px;
	color:white;
	display:inline-block; ;
	color:honeydew;
	font-size:20px;
    background:linear-gradient(black,crimson,black);
	text-decoration:none;
     margin:0px;}

.navigation>a:hover,a:active{color:snow;
                 padding:12px 14px;
                 transition:fade-out;
				 background:darkblue}
	
	.navigation{
	display:flex;
	background:linear-gradient(black,crimson,black);
	 position: -webkit-sticky;
  position: sticky;
  top: 0;}
  .Comments{background:linear-gradient(red,green,crimson);
  position:sticky;
  column:12;
  row:11;
  size:40%;
  }
  
 .section{position:sticky;}
  
	



