@import "https://fonts.googleapis.com/css?family=Alegreya|Fredoka+One|PT+Serif" rel="stylesheet";
body{margin:0;
     background:linear-gradient(#D8BFD8,#00FF7F,#00FA9A,#D8BFD8);
	 background-size:400px 400px;
	 font-family: 'PT Serif', serif;
    }
header{background-image:linear-gradient(-90deg,white,red,yellow,blue);
	  padding:20px 0px;
	  font-size:28px;
	  margin:0px;
	  color:white;
	  font-family: 'Alegreya', serif;
	  text-shadow: 4px 4px 4px #aaa;
	  
	  }

.section{display:flex;
        }
		/*for side bars*/
	  .sideBars{
		  background-image:linear-gradient(white,white);
		  flex:0.4;
		  order:1;
		  font-family: 'Fredoka One', cursive;
		  overflow:hidden;
		  position:relative;
		  margin-right:12px;
		   -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
		  
	  }
	  .tabs{
		  background-image:linear-gradient(-90deg,blue,cyan,aqua,yellow,orange,white,green);
		  flex:1;
		  order:2;
	  }
	  
	  /* The navigation menu links */
.sideBars a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: flex;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

/* When you mouse over the navigation links, change their color */
.sideBars a:hover {
  background:linear-gradient(brown,green,#00FA9A);
  width:300px;
}

/* Notification bar */
.Notify{background-image:linear-gradient(orange,white,green);
		  flex:0.3;
		  order:3;
		  font-family: 'Fredoka One', cursive;
		  overflow:hidden;
		  position:relative;
		  margin-left:12px; 
}
		  
      